.h { color: rgb(43, 151, 151)
    ;
}
.Div { background-position:center;
    background-color:rgb(207, 211, 211)
    ;width:700px; height: 900px; }
.border { border-bottom: 5px dashed; width:500px;}
.Link { margin-top:20px ; }